*{
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #a69cff, #c399db);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}
main {
    background-color: #ffffffcc;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    line-height: 1.5;
}
input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 80%;
    margin-bottom: 10px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #7b76aa;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}
button:hover {
    background-color: #0d233b;
}
p {
    margin: 8px 0;
    font-size: 16px;
    color: #141d22;
}

